@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media screen and (min-width: 768px) {
  .content {
    width: 750px;
  }

  .header,
  .main-part {
    flex-direction: row;
  }

  .main-part aside {
    flex-basis: 40%;
  }

  .main-part div {
    flex-basis: 60%;
  }

  .photo {
    width: 200px;
    margin-left: 2em;
  }

  code {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }

  .header,
  .main-part {
    flex-direction: column;
    font-size: 1.5em;
  }

  .photo {
    width: 300px;
    padding-top: 10px;
  }

  .project {
    margin: auto;
  }

  code {
    font-size: 0.7em;
  }

  h3 {
    text-align: center;
  }
}

html {
  font-family: Roboto, sans-serif;
  color: #14213d;
  scroll-behavior: smooth;
  background-color: #e5e5e5;
}

h1 {
  text-align: center;
}

.photo {
  border-radius: 50%;
}

.content {
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  background-color: #fca311;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.aside {
  background-color: #e5e5e5;
  padding: 0 10px;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}

.participation {
  margin-left: 1.2em;
  margin-bottom: 0;
}

.participation li {
  list-style-type: circle;
}

.title-text {
  margin: auto;
}

.main-part {
  display: flex;
  padding-right: 10px;
}

.main-part div {
  justify-self: center;
}

.main-right {
  padding-left: 5px;
}

pre {
  margin: 0;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  padding: 5px;
}

.photo-project {
  width: 100%;
}

h4,
.project-description {
  text-align: left;
  margin: 2px 0 0 0;
}


.footer {
  text-align: center;
  background-color: #e5e5e5;
  padding: 10px 0;
}

footer img {
  width: 50px;
}
